<div class="notice-form-container">
  <%if @notice.new_record?%>
    <h1>Nueva noticia</h1>
  <%else%>
    <h1>Actualizar noticia</h1>
  <%end%>
  <%= form_for(@notice, :html => {class: 'notice-form', role: 'form'}) do |form| %>

    <div class="field">
      <%= form.label 'Título' %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label 'Contenido' %>
      <%= form.text_area :desc, class:'notice-textarea' %>
    </div>

    <div class="actions">
      <%= form.submit(@notice.new_record? ? 'Crear' : 'Actualizar', class:'btn-primary')%>
    </div>
  <% end %>

  <%= link_to 'Volver', notices_path, class:'btn-primary', style:'width:75px;' %>
</div>
