<div class="notices-container">
  <h1>Última noticia publicada :</h1>
  <%if @notice%>
  <div class="notice">
    <p><%=@notice.title%></p>
    <p><%=@notice.desc%></p>
    <%= link_to 'Actualizar', edit_notice_path(@notice), class:'notice-btn' %>
  </div>
  <%else%>
  <div class="notice">
    <p>No hay noticias</p>
  </div>
  <%end%>
  <%= link_to 'Crear nueva noticia', new_notice_path, class:'notice-btn' %>
  <%=link_to 'Volver', url_for(:back), class:'btn-danger'%>
</div>