<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @notice.desc %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%=link_to 'Volver', url_for(:back), class:'btn-danger'%>
