<div class="users-wrapper">
  <h1>Usuarios</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Creación</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
          <td>
            <%if user.admin?%>
              <p style="color: rgb(93, 117, 255); font-weight: bold;">Admin</p>
            <%else%>
              <p style="color: rgb(93, 117, 255); font-weight: bold;">Normal</p>
            <%end%>
          </td>
          <td>
            <%= link_to 'Ver', user, class:'btn-primary' %>
            <%= link_to 'Editar', edit_user_path(user), class:'btn-primary' %>
            <%= link_to 'Borrar', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
