<div class="filters">
  <p class="filter-title"><span class="iconify" data-icon="cil:list-filter"></span> Filtros y orden</p>
  <div class="filter-form-container">
    <%= form_tag(store_path, method: :get, class:'filter-form') do %>
      <div class="field">
        <%= label_tag 'Categoria' %>
        <%= select_tag(:category, raw('
        <option>Scrunchies</option>
        <option>Muñecos</option>
        <option>Toallas & Discos</option>
        <option>Bolsos & Neceseres</option>
        <option>Hogar & Deco</option>
        <option>Otoño & Invierno</option>
        <option>Primavera & Verano</option>
        <option>Patrones</option>
        '), :prompt => 'Seleccionar', style:'text-align:center;') %>
      </div>
      <div class="field">
        <%= label_tag 'Precio' %>
        <%= select_tag(:order, raw('
          <option>Mayor a menor</option>
          <option>Menor a mayor</option>
        '), :prompt => 'Ordenar por precio', style:'text-align:center;')%>
      </div>
      <%= submit_tag 'Aplicar filtros', class:'btn-primary' %>
      <%=link_to 'Borrar filtros', store_path, class:'btn-danger'%>
    <% end %>
  </div>
</div>
