<section class="section-one">
  <div class="store-preview">
    <%@store_preview.each do |product|%>
      <div class="product-card">
        <div class="product-image">
          <%if product.image%>
            <img src="<%=product.img%>" alt="">
          <%else%>
            <p>no image</p>
          <%end%>
        </div>
        <div class="product-text">
          <p class="product-name"><%=product.name%></p>
          <p class="product-price">$<%=product.price%></p>
          <%=link_to 'Ver producto', "producto/#{product.id}", class: 'product-link'%>
        </div>
      </div>
    <%end%>
  </div>
  <div class="slider">
    <div class="slides">
      <%@store_preview.each.with_index do |product, index|%>
        <div class="slide-<%=index + 1%>">
          <div class="slide-content">
          <div class="slide-bg-dark"></div>
            <img src="<%=product.img%>" alt="">
            <div class="slide-text">
              <%=link_to product.name, "producto/#{product.id}"%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</section>