<div class="pattern-form-container">
  <%= form_with(model: pattern) do |form| %>

  <div class="field">
    <%= form.label 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Descripci칩n' %>
    <%= form.text_area :description %>
  </div>

  <div class="images-field">
    <%= form.label 'Imagenes' %>
    <%= form.text_area :images, value: @pattern.formatted_images %>
    <span class="form-helper">Siempre pegar primero la imagen principal y separar por comas si es m치s de una imagen</span>
  </div>

  <div class="field">
    <%= form.label 'Precio' %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit(@pattern.new_record? ? 'Crear patr칩n' : 'Actualizar patr칩n', class: 'btn-primary') %>
  </div>
  <% end %>
</div>
