<div class="form-container">
  <h1 class="products-form-heading"><%=@product.new_record? ? 'Crear nuevo producto' : 'Editar producto'%></h1>
  <%= form_for(@product, :html => {class: 'product-form', role: 'form'}) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label 'Nombre'%>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label 'Precio' %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%=form.label 'Imagen'%>
      <%=form.text_field :img%>
    </div>

    <div class="field">
      <%= form.label 'Link producto' %>
      <%= form.text_field :link %>
    </div>

    <div class="field">
      <%= form.label 'Descripción' %>
      <%= form.text_area :description, class: 'product-textarea' %>
    </div>

    <div class="actions">
      <%= form.submit(@product.new_record? ? 'Crear' : 'Actualizar')%>
    </div>
  <% end %>
</div>

