<div class="show-product-container">
  <div class="show-product">
    <img src="<%=@product.img%>" alt="" style="width: 250px;">
    <p class="show-name">Nombre: <%=@product.name%></p>
    <p class="show-name">Precio: <%=@product.price%></p>
    <p class="show-name">Stock: <%=@product.stock%></p>
    <p class="show-name"><%=link_to 'Link del producto', "#{@product.link}"%></p>
    <div class="product-actions">
        <p><%= link_to 'Editar', edit_product_path(@product), class: 'btn-alert' %></p>
        <p><%= link_to 'Eliminar', @product, class: 'btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
  </div>
</div>

<%=link_to 'Volver', url_for(:back), class:'btn-danger'%>
