<div class="navbar-header">
  <div class="navbar-menu-left">
    <%=image_tag 'logo.png', class: 'logo-image'%>
    <%=link_to 'Inicio' , root_path%>
      <%=link_to 'Ustedes' , trabajando_path%>
        <%=link_to 'Contacto' , trabajando_path%>
          <%=link_to 'Sobre mi' , trabajando_path%>
            <%=link_to 'Tienda' , store_path%>
  </div>
  <div class="navbar-menu-right">
    <%if current_user%>
      <h3 class="username"><%=current_user.name.capitalize%></h3>
      <%=link_to user_path(current_user), class: 'link_to_user' do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <%else%>
      <%=link_to 'Iniciar Sesión' , login_path, class:'navbar-login-btn'%>
    <%end%>
  </div>
</div>