<div class="navbar-header">
  <div class="navbar-menu-left">
    <%=image_tag 'logo.png', class: 'logo-image'%>
    <%=link_to 'Inicio' , root_path, class: {active: current_page?(root_path)}%>
      <%=link_to 'Galería' , gallery_path, class: {active: current_page?(gallery_path)}%>
        <%=link_to 'Contacto' , contact_path, class: {active: current_page?(contact_path)}%>
          <%=link_to 'Sobre mi' , about_me_path, class: {active: current_page?(about_me_path)}%>
            <%=link_to 'Catálogo' , store_path, class: {active: current_page?(store_path)}%>
              <%=link_to 'Patrones' , patterns_path, class: {active: current_page?(patterns_path)}%>
  </div>
  <div class="navbar-menu-right">
    <%if current_user%>
      <h3 class="username"><%=current_user.name.capitalize%></h3>
      <%=link_to user_path(current_user), class: 'link_to_user' do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <%else%>
      <%=link_to 'Iniciar Sesión' , login_path, class:'navbar-login-btn'%>
    <%end%>
  </div>
</div>